body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
justify-content: space-between;
}

.header-nav {
display: flex;
align-items: center;    
}

.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
color: #2e2f42;
}

.footer-logo .logo-part {
color: #f4f4fd;
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,.nav-link.current {
    color: #404bbf;
}

.page-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title {
    max-width: 496px;
        margin-bottom: 48px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.button-section {
    border: none;
    padding: 16px 32px;
        border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4d5ae5;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-section:hover,
.button-section:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #404bbf;
}

.features-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features-list {
display: flex;
gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.features-item-icon-svg {
    fill: #2e2f42;
}

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
display: flex;
gap: 24px;
justify-content: center;
    flex-wrap: wrap;
}

.team-item {
background: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.item-container {
        padding: 32px 16px; 
}


.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.team-social-item {
    list-style: none;
}

.team-social-item .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
    background-color: #404bbf;
}

.team-social-svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

.portfolio-section{
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-item {
width: calc((100% - 48px) / 3);
position: relative;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-thumb {
    transform: translateY(0);
}

.portfolio-item-thumb {
    position: relative;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}

.portfolio-thumb {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-line {
    margin-right: 120px;
}

.footer-logo {
margin: 16px 0;
    margin-right: 149px;
    display: inline-block;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-subtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin: 16px 0;
margin-right: 112px;
}

.footer-social-list {
display: flex;
gap: 16px;
margin: 0;
padding: 0;
list-style: none;
justify-content: center;
}

.footer-social-item {
    list-style: none;
}

.footer-social-item .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-social-svg {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #fff;
        border-radius: 4px;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-subscribe-input:focus {
    border-color: #31D0AA;
        outline: none;
}

.footer-subscribe-input::placeholder {
    color: #fff;
}

.footer-subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 165px;
        height: 40px;
        background: #4d5ae5;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #31D0AA;
}

.footer-subscribe-icon {
    fill: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-close{
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close svg {
    width: 8px;
    height: 8px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg,
.modal-close:focus svg {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.modal-form-group {
    margin-bottom: 8px;
}

.modal-group-label {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}

.modal-wrapper {
    position: relative;
}

.modal-input-svg {
    fill: #2e2f42;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-checkbox-label>.checkbox-span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.modal-input {
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 40px;
        width: 100%;
        background-color: transparent;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-svg {
    fill: #4d5ae5;
}


.modal-input:focus {
    border-color: #4d5ae5;
        outline: none;
}

.modal-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-svg {
    opacity: 0;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-svg {
    opacity: 1;
    fill: #f4f4fd;
}

.modal-form-group-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-textarea:focus {
    border-color: #4d5ae5;
        outline: none;
}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-button {
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}